<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MPIdentifier</key>
	<string>com.yahoo.Keykey.ReverseLookup</string>
	<key>MPLocalizedName</key>
	<dict>
	   <key>en</key>
	   <string>Reverse Lookup</string>
	   <key>zh_TW</key>
	   <string>字根反查模組</string>
	   <key>zh_CN</key>
	   <string>字根反查模块</string>	   
	</dict>
	<key>MPPrimaryBinary</key>
	<string>YKReverseLookup.dll</string>
	<key>MPSignature</key>
	<string></string>
	<key>MPVersion</key>
    <string>1.1.2528</string>
</dict>
</plist>
