<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (c) 2012, Yahoo! Inc.  All rights reserved.
Copyrights licensed under the New BSD License. See the accompanying LICENSE
file for terms.
-->
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MPIdentifier</key>
	<string>com.yahoo.KeyKey.YKAFWordCountPackage</string>
	<key>MPLocalizedName</key>
	<dict>
	   <key>en</key>
	   <string>Word Count</string>
	   <key>zh_TW</key>
	   <string>字數統計模組</string>
	   <key>zh_CN</key>
	   <string>字数统计模块</string>	   
	</dict>
	<key>MPPrimaryBinary</key>
	<string>YKAFWordCount.dll</string>
	<key>MPSignature</key>
	<string></string>
	<key>MPVersion</key>
    <string>1.1.2528</string>
</dict>
</plist>
