*.suo
*.ncb
Debug
Release
*.vcproj.*.user
debug
release
obj
x64
Thumbs.db
build
*.pbxuser
*.mode1v3
*.tm_build_errors
*.perspectivev3
.DS_Store
._*
ExternalLibraries/sqlite-cerod-see/cerod_build
ExternalLibraries/sqlite-cerod-see/sqlite3-cerod-see
*.dmg
xcuserdata
project.xcworkspace
