<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<plist version="1.0">
    <dict>
        <!-- header -->

        <key>Features</key>
        <array>
        	<!-- feature -->
            <dict>
                <key>ServiceName</key>
                <string>Yahoo! Search</string>                
                <key>Title</key>
                <dict>
                    <key>zh_TW</key>
                    <string>網頁搜尋</string>
                    <key>zh_CN</key>
                    <string>网页搜索</string>
                    <key>en</key>
                    <string>Yahoo! Search (English)</string>
                </dict>                
                <key>RequiresInput</key>
                <string>true</string>                
                <key>InputPlaceHolder</key>
                <string>{placeholder}</string>                
                <key>Action</key>
                <string>OpenURL</string>                
                <key>ActionURL</key>
                <dict>
                	<key>zh_TW</key>
                	<string>http://tw.search.yahoo.com/search?ei=UTF-8&amp;fr=ct_keykey&amp;p={placeholder}</string>
                	<key>zh_CN</key>
                	<string>http://search.cn.yahoo.com/search?&amp;y=Search&amp;fr=ct_keykey&amp;ei=UTF-8&amp;p={placeholder}</string>              
                	<key>en</key>
                	<string>http://search.yahoo.com/search?&amp;y=Search&amp;fr=ct_keykey&amp;ei=UTF-8&amp;p={placeholder}</string>                
                </dict>
                <key>InputPrompt</key>
                <dict>
                    <key>zh_TW</key>
                    <string>網頁搜尋：</string>                    
                    <key>zh_CN</key>
                    <string>网页搜索：</string>
                    <key>en</key>
                    <string>Search Yahoo!</string>
                </dict>
                <key>InputPromptDescription</key>
                <dict>
                    <key>zh_TW</key>
                    <string>請輸入搜尋關鍵字，按 Enter 開始搜尋。\n按 Backspace 刪字，按 ESC 取消。</string>                    
                    <key>zh_CN</key>
                    <string>请输入搜索关键字，按 Enter 开始搜索。\n按 Backspace 删字，按 ESC 取消。</string>
                    <key>en</key>
                    <string>Enter search keyword.\nPress Enter to perform search, ESC to cancel</string>
                </dict>
                <key>Tracker</key>
                <string>onekey-search</string>
            </dict>
            
        	<!-- feature -->
            <dict>
                <key>ServiceName</key>
                <string>Yahoo! Search</string>
                
                <key>Title</key>
                <dict>
                    <key>zh_TW</key>
                    <string>台灣股市</string>
                    <key>zh_CN</key>
                    <string>台湾股市</string>                    
                    <key>en</key>
                    <string>Taiex (TW Stock)</string>
                </dict>
                <key>RequiresInput</key>
                <string>true</string>
                <key>InputPlaceHolder</key>
                <string>{placeholder}</string>
                <key>PlaceHolderEncoding</key>
                <string>BIG-5</string>                
                <key>Action</key>
                <string>OpenURL</string>
                
                <key>ActionURL</key>
                <string>http://tw.rd.yahoo.com/referurl/stock/index/get_quote/quote/*http://tw.stock.yahoo.com/h/stockmenu.php?func=G&amp;stock_id={placeholder}</string>
                <key>InputPrompt</key>
                <dict>
                    <key>zh_TW</key>
                    <string>股市查詢：</string>                    
                    <key>zh_CN</key>
                    <string>台湾股市：</string>
                    <key>en</key>
                    <string>Taiex (TW Stock):</string>
                </dict>
                <key>InputPromptDescription</key>
                <dict>
                    <key>zh_TW</key>
                    <string>請輸入股票名稱或是代號，按 Enter 開始搜尋。\n按 Backspace 刪字，按 ESC 取消。</string>                    
                    <key>zh_CN</key>
                    <string>请输入股票名称或是代号，按 Enter 开始搜索。\n按 Backspace 删字，按 ESC 取消。</string>
                    <key>en</key>
                    <string>Please type the stock's symbol or name.\nPress Enter to perform search, ESC to cancel</string>
                </dict>
                <key>Tracker</key>
                <string>onekey-stock</string>                
            </dict>
            
        	<!-- feature -->
            <dict>
                <key>ServiceName</key>
                <string>Wretch.cc</string>                
                <key>Title</key>
                <dict>
                    <key>zh_TW</key>
                    <string>無名搜尋</string>
                    <key>zh_CN</key>
                    <string>无名搜索</string>                    
                    <key>en</key>
                    <string>Wretch.cc</string>
                </dict>
                <key>RequiresInput</key>
                <string>true</string>
                <key>InputPlaceHolder</key>
                <string>{placeholder}</string>
                <key>Action</key>
                <string>OpenURL</string>                
                <key>ActionURL</key>
                <string>http://tw.info.search.yahoo.com/search/wretch?f=&amp;ei=UTF-8&amp;fr=cb-wretch&amp;searchtype=web&amp;fr2=tab-web&amp;q={placeholder}</string>
                <key>InputPrompt</key>
                <dict>
                    <key>zh_TW</key>
                    <string>無名搜尋：</string>                    
                    <key>zh_CN</key>
                    <string>无名搜索：</string>
                    <key>en</key>
                    <string>Search on Wretch.cc:</string>
                </dict>
                <key>InputPromptDescription</key>
                <dict>
                    <key>zh_TW</key>
                    <string>請輸入搜尋關鍵字，按 Enter 開始搜尋。\n按 Backspace 刪字，按 ESC 取消。</string>                    
                    <key>zh_CN</key>
                    <string>请输入搜索关键字，按 Enter 开始搜索。\n按 Backspace 删字，按 ESC 取消。</string>
                    <key>en</key>
                    <string>Enter the keyword to look for.\nPress Enter to perform search, ESC to cancel</string>
                </dict>
                <key>Tracker</key>
                <string>onekey-wretch</string>
            </dict>

        	<!-- feature -->
            <dict>
                <key>ServiceName</key>
                <string>Yahoo! Auction</string>                
                <key>Title</key>
                <dict>
                    <key>zh_TW</key>
                    <string>拍賣搜尋</string>
                    <key>zh_CN</key>
                    <string>拍卖搜索</string>                    
                    <key>en</key>
                    <string>Yahoo! Taiwan Auction</string>
                </dict>
                <key>RequiresInput</key>
                <string>true</string>
                <key>InputPlaceHolder</key>
                <string>{placeholder}</string>
                <key>PlaceHolderEncoding</key>
                <!-- placeholder 的 encoding -->
                <string>BIG-5</string>                
                <key>Action</key>
                <string>OpenURL</string>                
                <key>ActionURL</key>
                <string>http://tw.search.bid.yahoo.com/search/ac?p={placeholder}</string>
                <key>InputPrompt</key>
                <dict>
                    <key>zh_TW</key>
                    <string>拍賣搜尋：</string>                    
                    <key>zh_CN</key>
                    <string>拍賣搜尋：</string>
                    <key>en</key>
                    <string>Search on Yahoo! Taiwan Auction:</string>
                </dict>
                <key>InputPromptDescription</key>
                <dict>
                    <key>zh_TW</key>
                    <string>請輸入商品關鍵字，按 Enter 開始搜尋。\n按 Backspace 刪字，按 ESC 取消。</string>                    
                    <key>zh_CN</key>
                    <string>请输入商品关键字，按 Enter 开始搜索。\n按 Backspace 删字，按 ESC 取消。</string>
                    <key>en</key>
                    <string>Enter the keyword or name of the merchandise you look for.\nPress Enter to perform search, ESC to cancel</string>
                </dict>
                <key>Tracker</key>
                <string>onekey-auction</string>                
            </dict>

        	<!-- feature -->
            <dict>
                <key>ServiceName</key>
                <string>Yahoo! Taiwan Map</string>                
                <key>Title</key>
                <dict>
                    <key>zh_TW</key>
                    <string>地圖搜尋</string>
                    <key>zh_CN</key>
                    <string>地图搜索</string>                    
                    <key>en</key>
                    <string>Yahoo! Taiwan Map</string>
                </dict>
                <key>RequiresInput</key>
                <string>true</string>
                <key>InputPlaceHolder</key>
                <string>{placeholder}</string>
                <key>Action</key>
                <string>OpenURL</string>                
                <key>ActionURL</key>
                <string>http://tw.maps.yahoo.com/#pok%011%02pos%01{placeholder}</string>
                <key>InputPrompt</key>
                <dict>
                    <key>zh_TW</key>
                    <string>地圖搜尋：</string>                    
                    <key>zh_CN</key>
                    <string>地图搜索：</string>
                    <key>en</key>
                    <string>Yahoo! Taiwan Map:</string>
                </dict>
                <key>InputPromptDescription</key>
                <dict>
                    <key>zh_TW</key>
                    <string>請輸入地址或是地標，按 Enter 開始搜尋。\n按 Backspace 刪字，按 ESC 取消。</string>                    
                    <key>zh_CN</key>
                    <string>请输入地址或是地标，按 Enter 开始搜索。\n按 Backspace 删字，按 ESC 取消。</string>
                    <key>en</key>
                    <string>Enter the address or the name of a place.\nPress Enter to perform search, ESC to cancel</string>
                </dict>
                <key>Tracker</key>
                <string>onekey-map</string>
            </dict>
        </array>

        <!-- Footer -->
    </dict>
</plist>