<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MPIdentifier</key>
	<string>com.yahoo.KeyKey.AFPhraseConverter</string>
	<key>MPLocalizedName</key>
	<dict>
	   <key>en</key>
	   <string>Simplified Chinese Phrase Converter</string>
	   <key>zh_TW</key>
	   <string>簡體中文常用詞彙轉換</string>
	   <key>zh_CN</key>
	   <string>简体中文常用词汇转换</string>	   
	</dict>
	<key>MPPrimaryBinary</key>
	<string>YKPhraseConverter.dll</string>
	<key>MPSignature</key>
	<string></string>
	<key>MPVersion</key>
    <string>1.1.2528</string>
</dict>
</plist>
