<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Takao-OSX-Leopard</key>
	<dict>
		<key>1.0.1278</key>
		<dict>
			<key>URL</key>
			<string>http://w1.keykey.vip.tpc.yahoo.com/ykk/pkg/YahooKeyKey-OSX-Leopard-1.0.1278.dmg</string>
			<key>action</key>
			<string>upgrade</string>
			<key>signature</key>
			<string>http://w1.keykey.vip.tpc.yahoo.com/ykk/pkg/YahooKeyKey-OSX-Leopard-1.0.1278.sig</string>
		</dict>
		<key>1.0.1137</key>
		<dict>
			<key>URL</key>
			<string>http://w1.keykey.vip.tpc.yahoo.com/ykk/pkg/YahooKeyKey-OSX-Leopard-1.0.1137.dmg</string>
			<key>action</key>
			<string>upgrade</string>
			<key>signature</key>
			<string>http://w1.keykey.vip.tpc.yahoo.com/ykk/pkg/YahooKeyKey-OSX-Leopard-1.0.1137.sig</string>
		</dict>
		<key>1.0.1161</key>
		<dict>
			<key>URL</key>
			<string>http://w1.keykey.vip.tpc.yahoo.com/ykk/pkg/YahooKeyKey-OSX-Leopard-1.0.1161.dmg</string>
			<key>action</key>
			<string>upgrade</string>
			<key>signature</key>
			<string>http://w1.keykey.vip.tpc.yahoo.com/ykk/pkg/YahooKeyKey-OSX-Leopard-1.0.1161.sig</string>
		</dict>
	</dict>
	<key>Takao-OSX-Tiger</key>
	<dict>
		<key>1.0.1278</key>
		<dict>
			<key>URL</key>
			<string>http://w1.keykey.vip.tpc.yahoo.com/ykk/pkg/YahooKeyKey-OSX-Tiger-1.0.1278.dmg</string>
			<key>action</key>
			<string>upgrade</string>
			<key>signature</key>
			<string>http://w1.keykey.vip.tpc.yahoo.com/ykk/pkg/YahooKeyKey-OSX-Tiger-1.0.1278.sig</string>
		</dict>	
		<key>1.0.1137</key>
		<dict>
			<key>URL</key>
			<string>http://w1.keykey.vip.tpc.yahoo.com/ykk/pkg/YahooKeyKey-OSX-Tiger-1.0.1137.dmg</string>
			<key>action</key>
			<string>upgrade</string>
			<key>signature</key>
			<string>http://w1.keykey.vip.tpc.yahoo.com/ykk/pkg/YahooKeyKey-OSX-Tiger-1.0.1137.sig</string>
		</dict>
		<key>1.0.1161</key>
		<dict>
			<key>URL</key>
			<string>http://w1.keykey.vip.tpc.yahoo.com/ykk/pkg/YahooKeyKey-OSX-Tiger-1.0.1161.dmg</string>
			<key>action</key>
			<string>upgrade</string>
			<key>signature</key>
			<string>http://w1.keykey.vip.tpc.yahoo.com/ykk/pkg/YahooKeyKey-OSX-Tiger-1.0.1161.sig</string>
		</dict>
	</dict>
	<key>Takao-Windows</key>
	<dict>
		<key>1.0.1278</key>
		<dict>
			<key>URL</key>
			<string>http://w1.keykey.vip.tpc.yahoo.com/ykk/pkg/YahooKeyKey-Windows-1.0.1278-zh-TW.exe</string>
			<key>action</key>
			<string>upgrade</string>
			<key>signature</key>
			<string>http://w1.keykey.vip.tpc.yahoo.com/ykk/pkg/YahooKeyKey-Windows-1.0.1278-zh-TW.sig</string>
		</dict>	
		<key>1.0.1137</key>
		<dict>
			<key>URL</key>
			<string>http://w1.keykey.vip.tpc.yahoo.com/ykk/pkg/YahooKeyKey-Windows-1.0.1137-zh-TW.exe</string>
			<key>action</key>
			<string>upgrade</string>
			<key>signature</key>
			<string>http://w1.keykey.vip.tpc.yahoo.com/ykk/pkg/YahooKeyKey-Windows-1.0.1137-zh-TW.sig</string>
		</dict>
	</dict>
</dict>
</plist>
